@using Kutlariz.WebUI.Infrastructure
<!DOCTYPE html>
<html>
<head>
    <title>Birthday App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/bundle.css" />
    <script src="~/assets/main.bundle.js" defer></script>
    @RenderSection("Styles", false)
</head>
<body>

    <div id="layout">

        <nav>
            <div class="container">
                <div id="brand"><img src="~/img/kutlariz.png" alt="Alternate Text" /></div>
                <div class="nav-expand-btn">
                    <span class="first-line"></span>
                    <span class="second-line"></span>
                    <span class="third-line"></span>
                </div>

            </div>
        </nav>
        <div class="nav-expand">
            <ul>
                <li><a href="/" class="nav-link">Anasayfa</a></li>
                @if (User.IsInRole("admin"))
                {
                    <li><a asp-controller="Admin" asp-action="Index" class="nav-link">Admin Panel</a></li>
                }
            </ul>
            <hr class="divide-nav-link" />
            <ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="Account" asp-action="Profile" class="nav-link">Profil</a></li>
                    <li><a asp-controller="Order" asp-action="Orders" class="nav-link">Siparişlerim</a></li>
                    <li><a asp-controller="Account" asp-action="Logout" class="nav-link">Çıkış Yap</a></li>
                }
                else
                {
                    <li><a asp-controller="Account" asp-action="Login" class="nav-link">Giriş Yap</a></li>
                    <li><a asp-controller="Account" asp-action="Register" class="nav-link">Kayıt Ol</a></li>
                }
            </ul>
        </div>

        <main>
            @RenderBody()
        </main>

        <footer>
            <div class="container">
                <ul>
                    <li><i class="fa fa-envelope"></i> info@kutlariz.com</li>
                    <li><i class="fa fa-phone"></i> 0531 283 61 99</li>
                </ul>
                <ul>
                    <li class="social-media">
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-facebook"></i>
                    </li>
                    <li class="copyright">© Tüm hakları saklıdır. Kutlariz.com</li>
                </ul>
            </div>
        </footer>
    </div>



    @if (TempData["result"] != null)
    {
        ResultModel result = TempData.Get<ResultModel>("result");
        <script type="module" defer>
            myModule.throwAlert().set('notifier', 'position', 'top-center');
            if (@result.IsSuccess.ToString().ToLower()) {
                myModule.throwAlert().success("@result.Message");
            }
            else {
                myModule.throwAlert().error("@result.Message");
            }
        </script>
    }
    @RenderSection("Scripts", false)
</body >
</html >
